<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--mbr diagnostics -->
  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="MembershipReboot" switchValue="Verbose">
        <listeners>
          <add name="MembershipRebootListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="MembershipRebootListener" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\logs\MembershipReboot.svclog" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provuuider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="MapHiveMeta" connectionString="server=localhost;user id=postgres;password=postgres;database=maphive_meta;port=5434;persist security info=true;" providerName="Npgsql" />
    <add name="MapHiveMbr" connectionString="server=localhost;user id=postgres;password=postgres;database=maphive_mr;port=5434;persist security info=true;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <!--
      So, it looks like, origins are happy with the origins listed one by one, but not so much when there is a wildcard - such as https://*.maphive.net
      For the time being using *, but will have too look into limiting that sensibly
      More info on custom cors policy, that can use db based origins list: http://www.asp.net/web-api/overview/security/enabling-cross-origin-requests-in-web-api
    -->
    <add key="CorsCfg" value="{origins: '*', headers: '*',  methods: '*'}"></add>
    <!--
    Bearer token auth cfg:
    * client id and client secret come from the appropriate Scope; used for the introspection point validation
    * scopes space separated as they get split into an arr; one of the scopes must be present in the access token in order to let the bearer token auth allow the access to the api; otherwise insuficient_scope err is returned    
    -->
    <add key="IdSrvBearerTokenAuthOpts" value="{Authority: 'https://idsrv.maphive.local/core', ClientId: '', ClientSecret: '', RequiredScopes: 'maphive_api'}" />
    <!--
    token client cfg
    * client id and secret come from the actual Client;
    * scopes space separated - list of scopes requested to be returned along with the access_token; when refresh token is required add offline_access
    -->
    <add key="IdSrvTokenClientOpts" value="{Authority: 'https://idsrv.maphive.local/core', ClientId: 'maphive-api', ClientSecret: 'maphive-api-test-secret', RequiredScopes: 'maphive_api offline_access'}" />

    <add key="MembershipRebootConfiguration" value="{EmailIsUnique: true, EmailIsUsername: true, RequireAccountVerification: true, MultiTenant: false, PasswordHashingIterationCount: 1}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>